 
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Farmacias Guadalajara</title>
</head>

<body style="background-color:#CEF6EC">
    <div style="width:80%; height:80px; background-color:#2E64FE; margin:auto; border-radius:30px">
        <h1 align="center" style="color:white">Ubicación de Farmacias Guadalajara</h1>
    </div>
    <br>
    <p>
        <table align="center">
            <tr>
                <th style="border:1px solid black">Estado</th>
                <th style="border:1px solid black">Dirección</th>
            </tr> 
            <tr>
                <td style="width:300px; border:1px solid black "> HI</td>
                <td style="width:300px; border:1px solid black ">HO</td>
            </tr>
        </table>
</body>

</html>